@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 678px; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 678px; }
  .header {
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .logo {
    display: none; }
    .logo__cat {
      padding-bottom: 0px;
      margin-top: 3px;
      margin-left: -1px; }
    .logo__mobile {
      display: block; }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .menu__contacts {
      display: block;
      margin-left: 13px;
      margin-top: 16px; }
  .menu-icon {
    z-index: 19;
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 21px; }
  .menu-icon-line {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000000; }
  .menu-icon-line::before {
    position: absolute;
    left: 0;
    top: -7px;
    content: '';
    width: 24px;
    height: 2px;
    background-color: #000000;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  .menu-icon-line::after {
    position: absolute;
    left: 0;
    top: 7px;
    content: '';
    width: 24px;
    height: 2px;
    background-color: #000000;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  .menu-icon.menu-icon-active .menu-icon-line {
    background-color: transparent; }
  .menu-icon.menu-icon-active .menu-icon-line::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s; }
  .menu-icon.menu-icon-active .menu-icon-line::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s; }
  .menu__mobile {
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #FAC663;
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    padding-top: 90px;
    padding-bottom: 100px; }
  .menu__mobile--active {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: -12px; }
    .nav__item {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
      letter-spacing: 0.5px; }
    .nav__first {
      display: none; }
    .nav__second {
      display: block; } }
