@font-face {
  font-family: 'Lato';
  src:
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Rubik';
  src:
    url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}