.main
  &__fone
    position: relative
.fone
  &__first
    width: 100%
  &__second
    position: absolute
    top: 0
    left: 0
.text
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  margin-left: 198px
  margin-top: 225px
  font-style: normal

  &__address
    font-weight: normal
    font-size: 14px
    line-height: 17px
  &__name
    font-family: 'Rubik'
    letter-spacing: 2.8px
    font-weight: bold
    font-size: 62px
  &__hotel
    padding-top: 5px
    font-weight: 500
    font-size: 20px
    letter-spacing: 0.4px

